body{
    /*background-image: url(barracailuminada.jpg);*/
    background-color: #E8F9FF;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:0px;
    font-family: Calibri;
    font-size: 20px;
    line-height: 1.5;
}

.titulo{
    background-color:  #056aad;
}

#tituloprincipal{
    background-color: #056aad;
    color: rgb(10 10 10);
    text-align: center;
    font-size: 50px;
} 


.principal{

}

#imgprincipal{
    width: 70px; /*largura*/
    display: block;
    margin: auto;
    padding: 15px;
} 

.titulonivel2{
    font-size: 30px;
    color: #35AAF2;
}

.textorosa{
    color: whitesmoke;
    text-align: justify;
    text-indent: 50px;
    margin: 0px;
}


.camping{
    background-image: linear-gradient(#056aad, #35AAF2);
    color: whitesmoke;
    font-size: 20px;
}

 .listaacampamento{
    background-image: linear-gradient(#35AAF2, #98d1f5, );
    color: black;
 } 

.imgcentro{
    width: 400px;
    margin: 10px;
    padding: 5px;
}

.quadradinho{
    list-style-type: square;
}

.circulo{
    list-style-type: circle;
}