#tituloprincipal{
    color: red;
    text-align: center;
    font-size: 50px;
}

h1{
    color: rgb(62, 21, 21);
}

.rosa{
    color: rgb(149, 14, 122);
}

.violeta{
    color: blueviolet;
}

.verdelimao{
    color: greenyellow;
}

