#tituloprincipal{
    color: red;
    text-align: center;
    font-size: 50px;
}

h1{
    color: rgb(62, 21, 21);
}

p{
    color: blueviolet;
    color: greenyellow;
    color: rgb(149, 14, 122);
}